{% extends 'main.html' %}

{% block content %}
<h1>Home</h1>


<section>
    <a href="{% url 'create-room' %}">CREATE ROOM</a>
    {% for room in rooms %}
    <div>
        <a href="{% url 'update-room' room.id %}">Edit</a>
        <a href="{% url 'delete-room' room.id %}">Delete</a>
        <span>@{{room.host.username}}</span>
        <h2><a href="{%  url 'room' room.id %}">{{ room.name }}</a></h2>
        <small>{{room.topic.name}}</small>
        <hr>
    </div>
    {% endfor %}
</section>


{% endblock content %}
